In [2]:
import pandas as pd
import numpy as np
from data_storage import create_connection
from risk_metrics import Risk_Metrics
import matplotlib.pyplot as plt
import os

In [3]:
connection = create_connection("../database/crypto_billionairs.db")

In [80]:
df = pd.read_sql_query("select * from cryptocurrencies_risk_metrics_1m_abnormal_day_ml", connection)
df["aggregation_filter"] = df["table_name"].str.split("_").str[-1]
df.iloc[:, 5:].groupby(by=["aggregation_filter"]).mean()

,annualized_return,sharpe_ratio_annualized,sortino_ratio_annualized,maximum_drawdown,calmar_ratio_annualized,trades_count,win_rate
aggregation_filter,,,,,,,
forest,-40.119877,-5.087297,-0.861520,-0.617210,-0.382777,73.608696,47.168992
knn,-24.123909,-2.432797,-0.528425,-0.559477,37.253493,82.652174,48.589954
mlp,-23.127830,-3.705641,-0.499456,-0.507854,4.699142,114.958333,53.435894
regression,-27.209977,-3.993817,-0.580310,-0.621212,0.319676,122.478261,46.532304
svc,-3.620868,-0.509535,-0.087549,-0.584147,0.487828,127.217391,50.814887

In [81]:
df = pd.read_sql_query("select * from cryptocurrencies_risk_metrics_1m_abnormal_day_ml_oversampling", connection)
df["aggregation_filter"] = df["table_name"].str.split("_").str[-2]
df.iloc[:, 5:].groupby(by=["aggregation_filter"]).mean()

,annualized_return,sharpe_ratio_annualized,sortino_ratio_annualized,maximum_drawdown,calmar_ratio_annualized,trades_count,win_rate
aggregation_filter,,,,,,,
forest,-8.192278,-2.070210,-0.181339,-0.557343,1.461144,73.956522,46.131442
knn,-5.882954,-0.894949,-0.135257,-0.554373,0.122201,110.090909,48.440895
mlp,-18.762736,-2.789358,-0.411291,-0.632873,0.677138,160.956522,51.246091
regression,-7.132158,-1.956170,-0.185150,-0.637019,1.966730,115.875000,46.403521
svc,-10.201926,-3.008050,-0.261943,-0.565946,6.891409,116.130435,49.439373

In [76]:
df = pd.read_sql_query("select * from cryptocurrencies_risk_metrics_1m_abnormal_day", connection)
df["aggregation_filter"] = df["table_name"].str.split("_").str[-1]
df.iloc[:, 5:].groupby(by=["aggregation_filter"]).mean()

,annualized_return,sharpe_ratio_annualized,sortino_ratio_annualized,maximum_drawdown,calmar_ratio_annualized,trades_count,win_rate
aggregation_filter,,,,,,,
features,30.229037,4.389025,0.620335,-0.416319,1.291382,72.92,51.785586